h4{
    margin-left: 40%;
}
h3{
    color: #000;
}
a {
    text-decoration: none;
    color: #BDBDBD;
}
a:hover {
    color: #fff;
}

.nav-item:hover {
    color: #fff;
}
.container{
    margin-top: 6%;
}
h1 {
    color: #000;
    font-weight: bold;
    text-align: center;
}

.ab{
    width: 100%;
    border-width: 3px;
    background-color:#181818;
}

.btn {
    margin-left:40%;
}

.bb{
    margin-left: 0%;
}

.img-thumbnail {
    background-color: black;
}

.card{
    height:11rem;
    background-color: #000;
    border: 2px solid rgba(0,0,0,.125);
}

.card-title, .card-text {
    color: #fff;
}

.img-fluid {    
    width:60%;
}
footer{
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
}    

footer hr {
    border: 2px solid #f53b57;
    margin-top: 20px;
}

footer i{
    font-size: 0.8rem;
}

footer p {
    text-align: center;
    color: #636e72;
    font-size: 1.2rem;
}