<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:#000">
        <h1 class="navbar-brand" style="color:#fff" href="#">EComKart</h1>
        <h4><a href="/myorder/:id">My Orders</a></h4>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/dashboard">Products</a></li>
            <li class="nav-item"><a class="nav-link" href="/cart/:id">Cart</a></li>
        </ul>
    </nav>
</div>



<footer>
    <hr>
    <p>2020 Copyright© All Rights Reserved.<br><i>Website made by ADH</i></p>
</footer>