<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:#000">
        <h1 class="navbar-brand" style="color:#fff" href="#">EComKart</h1>
    </nav>
</div>

<div class="container login-container">
    <div class="row">
        
        <div class="col-md-5 login-form-2">
            <h3><b><i>Admin Login</i></b></h3>
            <form [formGroup]="admLogin" (ngSubmit)="aLogin()">
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="aemail" placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" formControlName="apassword" placeholder="Enter Password ">
                </div>
                <div class="form-group">
                    <button  type="submit" class="btnSubmit" >Login</button>
                </div>
                <div class="form-group">
                    <a href="#" class="ForgetPwd" value="Login">Forgot Password?</a>
                </div>
            </form>
        </div>

        <div class="col-md-2"></div>
        
        <div class="col-md-5 login-form-1">
            <h3><b><i>User Login</i></b></h3>
            <form [formGroup]="usrLogin" (ngSubmit)="uLogin()"> 
                <div class="form-group">
                    <input type="text" formControlName="uemail" class="form-control" placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <input type="password" formControlName="upassword" class="form-control" placeholder="Enter Password">
                </div>
                <div class="form-group">
                    <button  type="submit" class="btnSubmit">Login</button>
                </div>
                <div class="form-group">
                    <a href="#" class="ForgetPwd">Forgot Password?</a>
                </div>
            </form>
        </div>
        
    </div>
</div>

<footer>
    <hr>
    <p>2020 Copyright© All Rights Reserved.<br><i>Website made by ADH</i></p>
</footer>